# Generated PDFs
*.pdf
template.tex

# Except example.pdf
!example1.pdf
!example2.pdf

# Temporary LaTeX files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.dvi

# OS specific files
.DS_Store
Thumbs.db

# Editor specific files
.vscode/
.idea/
*.swp
*~